body {
    text-align: center;
    background-color: #EBAA87
}

nav {
    display: flex;
    justify-content: center;
}

.orderOnline {
    color: white;
}

.foundationOfFreshness {
    color: white;
}

.orderOnline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}