/* Center text of the whole body & added background color for small aesthetics */
body {
    background-color: #492c21;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Keeps the site looking narrow instead of wide */
.main {
    max-width: 1000px;      /* shrink the page width */
    margin: 0 auto;
    background-color: #EBAA87;
    border: 10px solid #2c211e;
    padding: 20px;
    box-sizing: border-box; /* Forces content to fit inside the box */
}

/* Holds images of products & fake Add to Cart buttons */
.orderOnline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  flex-wrap: nowrap; /* force children to be flex items */
}

/* Keeps text beneath the image and everything centered */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Centers the bullets instead of the default left-align */
ul {
  list-style-position: inside;
}

/* Gives spaces around the list */
li {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

/* Freshness stamp with wrap-around text */
#stamp {
  border-radius: 50%;
  float: left;
  margin: 0 20px 20px 20%;
}

/* Divider between each section */
.bakeryDivider{
  display: block;
  margin: 0 auto;
}

/* Contact Me */
.contactMe {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* Footer */
footer {
  border: 5px solid #2c211e;
  max-width: 400px;
  margin: 0 auto;
}